{{#if userService.isLoggedIn}}
  <button {{action 'logout'}}>Logout</button>
{{else}}
  <h3>Login</h3>
  <p>Email: {{input class='email' value=email autofocus=true}}</p>
  <p>Password: {{input class='password' type='password' value=password}}</p>
  <button {{action 'login'}}>Login</button>
{{/if}}